@using GestionCegepWeb.Models
@*Si erreur du côté serveur... affichage du message d'erreur...*@
@if (ViewBag.MessageErreur != null)
{
    <br>
    <h2 class="alert-danger">@ViewBag.MessageErreur</h2>
}
else
{
    <form method="get" asp-controller="Departement" asp-action="Index">
    @*Affichage de la liste des cégeps...*@
        <br>
            <h3>Sélectionner un Cégep :</h3>
        <br>

        <select id="cegep" onchange="submit();" name="nomCegep">

            @foreach (CegepDTO cegep in ViewBag.ListeCegeps)
            {
                if(cegep.Nom.Equals(@ViewBag.nomCegep))
                {
                    <option value="@cegep.Nom" selected>@cegep.Nom</option>
                }
                else
                {
                    <option value="@cegep.Nom">@cegep.Nom</option>
                    
                }
            }
        </select>
    </form>
    @*Affichage de la liste des Départements...*@
    <br>
    <h3>Liste des département(s) (@ViewBag.ListeDepartement.Length Département(s)) :</h3>
    <br>
    
    <table>
        <tbody><tr>
            <th>No</th>
            <th>Nom</th>
            <th>Description</th>
        </tr>
        @foreach (DepartementDTO departement in ViewBag.ListeDepartement)
        {
            <tr>
                <td>@departement.No</td>
                <td>@departement.Nom</td>
                <td>@departement.Description</td>
            </tr>
        }
        </tbody>
    </table>

}